// imports
@import './assets/scss/colors';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

#root,
#app-container,
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app-container {
  display: flex;
}

// Create classes for height {.height-10%/100%}
@for $i from 1 through 10 {
  .height-#{$i+'0'} {
    height: #{$i+'0%'};
    max-height: #{$i+'0%'};
  }
}