.card-actions .delete-button {
    position: absolute;
    top: 16px;
    right: 16px;
}

.modal-inner {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-30%, -50%);
    width: 400px;
    background-color: #fff;
    border: 2px solid #000;
    padding: 20px;
}
