
.add-user-box {
  display: flex;
  justify-content: center;
  cursor: pointer;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.add-user-icon {
  display: flex;
  align-self: center;
  cursor: pointer;
  padding: 3%;
}
