
.add-user-box {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.add-user-icon {
  display: flex;
  align-self: center;
  cursor: pointer;
  width: 10%;
  padding: 5%;
}
